#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

## Flash folder

FSFK_KL46Z/FLASH/
FSFK_KL46Z/Documentation/
FSFK_KL46Z/Generated_Code/
FSFK_KL46Z/Library/
FSFK_KL46Z/MQXLITE/
FSFK_KL46Z/Project_Settings/
FSFK_KL46Z/Static_Code/
*.g_x
*.g_c
ProjectInfo.xml
